body {
    background: rgb(229, 111, 150);
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

label, input {
    display: block;
    margin: 10px 0;
    width: 100%;
}

button {
    background-color: #fff;
    color: #24292e;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}